@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Imagens/img4.jpg) no-repeat;
    background-size: cover;
    background-position: top; 
}
.img3{
   
    width: 100%; /* Defina a largura desejada para a imagem */
    height: 50rem ; /* Defina a altura desejada para a imagem */
    object-fit: cover; /* Para garantir que a imagem ocupe todo o espaço do container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca a imagem em segundo plano (atrás de tudo) */
}

header {/* menu */  
   
   
    position: absolute;
    top:2px; 
    right: 0; /* Adiciona o posicionamento do elemento à direita da página */
    padding:4px 20px;
    display: flex;
    justify-content: flex-end; /* Altera o alinhamento para a direita */
    transition: height 1s ease;
  }
.menu-list{
    list-style:none;
    display:flex;
    align-items: center;
    
}

.nav-menu   a{
    position: relative;
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: none;
    font-family: Inter;
    margin-left: 40px;
}

.nav-menu a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px; 
    background: #1E90FF;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s; 
 }
 .nav-menu a:hover::after{
    transform-origin: left;
    transform:scaleX(1);
 }
 .nav-menu .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
     font-size: 1.3rem;
     color: #fff;
     font-weight: 500;
     margin-left: 40px;
     transition: .5s;
}

.nav-menu .btnLogin-popup:hover{
    background: #1E90FF;
    border: 2px solid #fff;
}

.logo{
    position: absolute;
    left: 0;
    top: -12px;
    width: 50%;
  }

.txt-agenda {    
    font-family: Boogaloo;
    font-size: 40px;
    color: white;
  }

  .texto{
    position: absolute;
    left:20px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center ;
   
  }
  
 .button-agenda{
    width: 300px;
    height: 50px;
    background: #1E90FF;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
     font-size: 1.3rem;
     color: #fff;
     font-weight: 500;
     margin-left: 40px;
     transition: .5s;
}

 .button-agenda:hover{
    transform: scale(.96);
   
 }



 /* Estilos para o ícone do menu hamburguer */
.hamburger-menu {
    display: none;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
    transition: 0.4s;
}

/* estilos do menu dropdown */
@media (max-width: 850px) {
    .logo{
        position: absolute;
        top: 0;
        width:80%;
      }
      .texto{
        left:0;
      }
    .hamburger-menu {
        display: flex;
        color: #ffffff;
        margin-top: 20px; 
        cursor: pointer; 
    }
    .hamburger-menu:hover{
        color: #1E90FF;
    }
    .menu-list.show {
        background: rgba(215, 215, 215, 0.556);
        display:flex; 
        flex-direction: column;
        align-content: space-between;
        position: absolute;
    }
    .menu-list {
        display: none;
        position: absolute;
        top: 46px;
        right: 2px;
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }
    .menu-list li {
        margin: 4px ;
    }
}

